.footer-sec {
  width: 100%;
  margin-top: 40px;
}
.footer-sec .container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
}
.footer-sec .footer-p1 {
  width: 100%;
  background-color: #33323d;
  padding-bottom: 4px;
}

.footer-sec .icon-group {
  display: block;
  margin: 0 auto;
  width: fit-content;
  color: #33323d;
}
.footer-sec .icon-circle {
  background-color: #6c63ff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin: 20px 5px 8px 5px;
}

.footer-sec .icon-circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.footer-sec .link-group {
  color: #f0f0ff;
  font-size: 13px;
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 0;
  text-decoration: none;
}

.footer-sec.link-group.footer-nav{
  text-decoration: none;
  color: white;
}
.footer-sec .footer-p2 {
  background-color: #514e7f;
  color: #f0f0ff;
  padding: 7px 0;
}

.footer-sec .copyright {
  text-align: center;
  font-size: 11px;
}

.footer-sec .copyright p {
  margin: 0;
  padding: o;
}

