@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.dealer-page{
    background-color: white;
    display: flex;
    flex-direction: column;
    /* font-family: 'Montserrat', sans-serif; */
}

.dealer-page .dealer-container{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.dealer-page .auth-img{
  width: 100%;
  height: auto;
}

.dealer-page .dealer-verify{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.dealer-page h4{
    font-weight: 600;
    padding: 10px;
}

.dealer-page h5{
    font-weight: 500;
    padding: 10px;
    font-size: 20px;
}

.dealer-page p{
    font-weight: 500;
    padding: 10px;
    font-size: 20px;
}
.dealer-page .btn{
    max-width: 400px;
    align-items: center;
}
.dealer-page .click{
    margin-right: 40px;
}